.header
{
  text-align: center;
  padding-top: 1rem;
}

.App
{
  margin-left: 38vw;
  margin-right: 38vw;
  
}

.textbox
{
  align-items: center;
  padding-top: 1rem;
}

.dropdown
{
  padding-top: 1rem;
}

.button
{
  padding-top: 2rem;
  margin-left: auto;
}
.text-alligned{text-align: center;}